@font-face
{
    font-family: "Viking";
    src: url("../police/vikingn.ttf");
}
.lien
{
    background-color: rgb(255, 0, 0);
    color: white;
    display: inline-block;
    width: 150px;
    height: 70px;
    z-index: 3;
    position: absolute;
    margin-left: -10%;
    top: 80%;
    left: 20%;
}
.lien2
{
    background-color: red;
    color: white;
    display: inline-block;
    width: 150px;
    height: 70px;
    z-index: 3;
    position: absolute;
    margin-left: 0%;
    top: 80%;
    left: 80%;
}
.lien3
{
    background-color: red;
    color: white;
    display: inline-block;
    width: 150px;
    height: 70px;
    z-index: 3;
    position: absolute;
    margin-left: 0%;
    top: 80%;
    left: 50%;
}
body
{
    background-color:#191e26 ;
    color: whitesmoke;
    font-family: "Viking";
    text-align: center;
    margin: 0;
}
#niveau
{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}
h1
{
    font-size: 5rem;
    font-weight: lighter;
    z-index: 2;
    position: relative;
}
.canevas {
    display: flex;
    margin: 0 auto;
    position: absolute;
    z-index: 0;
}

/*animation*/
@keyframes tombe
{
    0%{top: -50%;}
    100%{top: +120%;}
}
#goutte1{top: -50%; animation: tombe 5s linear infinite;}
#goutte2{top: -50%; animation: tombe 5s linear 2s infinite; transform: translateX(1200px);}
#goutte3{top: -50%; animation: tombe 5s linear 1.5s infinite; transform: translateX(1000px);}
#goutte4{top: -50%; animation: tombe 5s linear 7s infinite; transform: translateX(800px);}
#goutte5{top: -50%; animation: tombe 5s linear 1s infinite; transform: translateX(500px);}
#goutte6{top: -50%; animation: tombe 5s linear 4s infinite; transform: translateX(200px);}
#goutte7{top: -50%; animation: tombe 5s linear 6s infinite; transform: translateX(700px);}
#goutte8{top: -50%; animation: tombe 5s linear 8s infinite; transform: translateX(400px);}
#goutte9{top: -50%; animation: tombe 5s linear 0.4s infinite; transform: translateX(300px);}
#goutte10{top: -50%; animation: tombe 5s linear 9s infinite; transform: translateX(1300px);}
#goutte11{top: -50%; animation: tombe 5s linear 3s infinite; transform: translateX(1400px);}
#goutte12{top: -50%; animation: tombe 5s linear 5s infinite; transform: translateX(1600px);}


@keyframes inonde
{ 0%{top: 150%;} 100%{top:40%;} }

@keyframes droitegauche
{ from{background-position-x: 0px;} to{background-position-x: 1086px;} }
#sang
{
    background-image: url(./vaguerouge.png);
    width: 100%;
    height: 204px;
    top: 110%;
    z-index: 1;
    position: absolute;
    animation: inonde 4s linear 8s forwards, droitegauche 2s linear infinite;
}

@keyframes monte 
{0%{top: 162%;}100%{top: 52%;};}

#rouge
{
    width: 100%;
    height: 100%;
    top: 150%;
    z-index: 2;
    background-color: red;
    animation: monte 4s linear 8s forwards;
    position: absolute;
}